<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nmap Scans</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <main>
        <h1>Scans</h1>
        <p>
            See below for all of the nmap scans
        </p>
        <ul>
            <li>
                <a href="./host-discovery/discovery.html"> Host Discovery </a>
                <p class="note-text">
                    Identification of all live hosts. Uses ARP Ping, ICMP echo, and some other metrics.
                </p>
            </li>
            ##HOST_SCANS##
        </ul>
    </main>
  </body>
</html>

